<nav class="navbar app-navbar fixed-top navbar-expand-lg navbar-double navbar-trans">
  <div class="navbar-nav top-navbar bg-primary">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="#">
        <div class="separator"></div>
        <div class="caption">menu <strong>admin</strong></div>
      </a>
      <button class="btn btn-sm bg-white">logout</button>
    </div>
  </div>
  <div class="navbar-nav  bottom-navbar">
    <div class="container justify-content-between align-item-center">
      <div>
        <span>Home</span>
      </div>
    </div>
  </div>
</nav>
