<div class="wrapper p-4">
    <div class="dashboard-greet mt-5">
        <p class="m-0">Hello {{ detailUser['fullname'] }}</p>
    </div>
    <div>
        <h4 class="text-grey">Welome to cerMath Content Learning Management System</h4>
    </div>
    <!-- <div class="row p-2">
        <div class="col-sm-3 dashboard-item">
            <table class="w-100 item-table" border="0">
                <tr>
                    <td rowspan="2" width="30%" align="center">
                        <div class="table-icon-box">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </div>
                    </td>
                    <td class="text-grey">Pengguna</td>
                </tr>
                <tr>
                    <td>
                        <h5 class="m-0 text-darkblue">6.000</h5>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-3 dashboard-item">
            <table class="w-100 item-table" border="0">
                <tr>
                    <td rowspan="2" width="30%" align="center">
                        <div class="table-icon-box">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </div>
                    </td>
                    <td class="text-grey">Materi</td>
                </tr>
                <tr>
                    <td>
                        <h5 class="m-0 text-darkblue">5</h5>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-3 dashboard-item">
            <table class="w-100 item-table" border="0">
                <tr>
                    <td rowspan="2" width="30%" align="center">
                        <div class="table-icon-box">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </div>
                    </td>
                    <td class="text-grey">Quiz</td>
                </tr>
                <tr>
                    <td>
                        <h5 class="m-0 text-darkblue">15</h5>
                    </td>
                </tr>
            </table>
        </div>

    </div> -->
    
</div>